DJANGO_SECRET_KEY=trocar-em-producao-por-string-aleatoria-longa
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173
CSRF_TRUSTED_ORIGINS=http://localhost:5173
DATABASE_PATH=./db.sqlite3
